<!--
  Generated template for the ProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Projects</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	Project List
<ion-grid>
	<ion-row *ngFor="let project of projects">
		<ion-col>
			{{project.name}}
		</ion-col>
		<ion-col>
			{{project.oppid}}
		</ion-col>
		<ion-col>
			{{project.koneid}}
		</ion-col>
		<ion-col>
			{{project.customer}}
		</ion-col>
	</ion-row>
	 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-grid>
</ion-content>
